<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Manuel Nunez</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./about.html">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./projects.html">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./experience.html">Work Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./icpc-team.html">ICPC</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto px-4 py-8">
        <h2 class="text-2xl font-bold mb-4">About Me</h2>
        <div class="flex items-center mb-8">
            <div class="w-50 h-64 mr-8 overflow-hidden rounded-lg">
                <img src="/src/view/resources/static/images/manu2.jpeg" alt="Tu Fotografía" class="object-cover w-full h-full">
            </div>
            <div>
                
                <p class="mb-4">Passionate about math and technology, I've dedicated my career to teaching mathematics for Olympic competitions and web development. With extensive experience in education, I've successfully guided students to excel in advanced mathematics. Simultaneously, I enjoy leveraging Python scripting for optimizing processes. My competitive drive fuels my enthusiasm for competitive programming, where I actively participate with my team in prestigious contests such as the ICPC (International Collegiate Programming Contest) and others. I am constantly driven to learn and improve, pushing the boundaries of what's possible at the intersection of math and technology to foster innovation in every project.</p>
               
            </div>
        </div>

        <div class="flex items-center mb-8">
          
            <div>
                
                <p class="mb-4">Beyond my professional pursuits, I find joy in physical activities such as cycling and playing tennis, which help me stay active and focused. Watching Formula 1 races is another passion of mine, where I admire the blend of technology and speed. Additionally, I'm an avid reader with a particular fondness for the visionary works of Asimov, whose insights into the future inspire my own innovative thinking.</p>
            </div>
            <div class="w-50 h-64 mr-8 overflow-hidden rounded-lg">
                <img src="/src/view/resources/static/images/manu1.jpeg" alt="Otra Fotografía" class="object-cover w-full h-full">
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (optional, if you need dropdowns or other JS functionality) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
