<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Manuel Nunez</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-white text-gray-900">
    <nav class="p-4 bg-gray-200">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold"><a href="index.html">My Portfolio</a></h1>
            <div class="space-x-4">
                <a href="about.html" class="text-lg">About Me</a>
                <a href="projects.html" class="text-lg">Projects</a>
                <a href="experience.html" class="text-lg">Experience</a>
                <a href="icpc-team.html" class="text-lg">ICPC</a>
                <a href="download-cv.html" class="text-lg">Download CV</a>
            </div>
        </div>
    </nav>
    <section id="about" class="p-8">
        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-4">About Me</h2>
            <p class="text-lg">
                Passionate about math and technology, I've dedicated my career to teaching mathematics for Olympic
                competitions and web development. With extensive experience in education, I've successfully guided
                students to excel in advanced mathematics. Simultaneously, I enjoy leveraging Python scripting for
                optimizing processes. My competitive drive fuels my enthusiasm for competitive programming, where I
                actively participate with my team in prestigious contests such as the ICPC (International Collegiate
                Programming Contest) and others. I am constantly driven to learn and improve, pushing the boundaries of
                what's possible at the intersection of math and technology to foster innovation in every project.
            </p>
        </div>
    </section>
</body>

</html>