<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ICPC Team - Manuel Nunez</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 text-gray-900">
    <nav class="p-4 bg-gray-200">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold"><a href="index.html">My Portfolio</a></h1>
            <div class="space-x-4">
                <a href="about.html" class="text-lg">About Me</a>
                <a href="projects.html" class="text-lg">Projects</a>
                <a href="experience.html" class="text-lg">Experience</a>
                <a href="icpc-team.html" class="text-lg">ICPC</a>
                <a href="download-cv.html" class="text-lg">Download CV</a>
            </div>
        </div>
    </nav>
    <section id="icpc-team" class="p-8">
        <div class="container mx-auto">
            <h2 class="text-3xl font-bold mb-4">My ICPC Team</h2>
            <p class="text-lg">
                <br><br>
                Through these contests, I have gained invaluable experiences that extend beyond just coding. I've had
                the opportunity to solve challenging problems that push the limits of my understanding and creativity.
                Each contest has been a learning journey, helping me to develop my problem-solving skills and deepen my
                knowledge of algorithms and data structures.
                <br><br>
                Moreover, ICPC has allowed me to connect with like-minded individuals who share my enthusiasm for
                programming. Collaborating with my teammates and interacting with other contestants has been immensely
                rewarding. I've learned a great deal from these interactions, which have significantly contributed to my
                growth as a programmer.
                <br><br>
                Overall, my participation in ICPC has been instrumental in shaping my programming journey. It has not
                only honed my technical skills but also fostered a sense of camaraderie and continuous learning. I look
                forward to many more such enriching experiences in the future.
            </p>
        </div>
    </section>
</body>

</html>